.page4_bg {
  padding: 9rem 4.5rem;
  .page4_wrap {
    max-width: 1344px;
    margin: 0 auto;
    text-align: center;
    .grid {
      padding-top: 4rem;
      .column_project {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        .modal_project {
          display: block;
          margin: 0.75rem;
          width: 31%;
          height: 150px;
          // X and Y:18px;
          // box-shadow: 10px 5px 5px #d1d9e6;
          background-color: aqua;
          border-radius: 12px;
          .wrap {
            height: 150px;
            opacity: 0;
            .figlet {
              font-weight:bolder;
              font-size: 30px;
            }
          }
          .wrap:hover {
            opacity: 1;
          }
          @media (max-width: 1188px) {
            width: 45%;
          }
        }
        .modal_project:hover {
          background-color: rebeccapurple;
          transition: all ease 1s 0s;
        }
        @media (max-width: 768px) {
          flex-direction: row;
        }
      }
    }
  }
}
