.page4_bg {
  padding: 9rem 4.5rem;
  .page4_wrap {
    max-width: 1344px;
    margin: 0 auto;
    text-align: center;
    .grid {
      padding-top: 4rem;
      .column_project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .modal_project {
          display: block;
          margin: 0.75rem;
          width: 31%;
          height: 150px;
          background-color: aqua;
          transform: all 3s ease-out;
          border-radius: 12px;
          .figlet {
            transform: all 3s ease-in;
            opacity: 0;
          }
          .figlet:hover {
            opacity: 1;
          }
          @media (max-width: 1188px) {
            width: 45%;
          }
        }
        .modal_project:hover {
          background-color: rebeccapurple;
          transform: scale(1.1);
        }
        @media (max-width: 768px) {
          flex-direction: row;
        }
      }
    }
  }
}
