.page2 {
  text-align: center;
  background-color: rgb(14, 132, 183);
  width: 100%;
  .wrap {
    padding-top: 3%;
    .title {
      margin-bottom: 1.5%;
    }
    .subtitle {
      font-weight: 400;
      margin-bottom: 10%;
    }
  }
}
