.page4_bg {
  padding: 9rem 4.5rem;
  .page4_wrap {
    max-width: 1344px;
    margin: 0 auto;
    .grid {
      padding-top: 4rem;
      .column_project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .modal_project {
          display: block;
          margin: 0.75rem;
          width: 31%;
          height: 150px;
          background-color: aqua;
        }
      }
    }
  }
}
